table.steelBlueCols {
  background-color: #6F6F6F;
  width: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.steelBlueCols td, table.steelBlueCols th {
  border: 1px solid #555555;
  padding: 5px 5px;
}
table.steelBlueCols tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}
table.steelBlueCols td:nth-child(even) {
  background: #1E4856;
}
table.steelBlueCols thead {
    border-bottom: 5px solid #122A32;
}
table.steelBlueCols thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 5px solid #122A32;
}
table.steelBlueCols thead th:first-child {
  border-left: none;
}

table.steelBlueCols tfoot td {
  font-size: 15px;
}