html { 
  background-image: url("bg-11-full.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 
body{ margin: 0 auto;
	  background-image: url("bg-11-full.jpg");
	  
	  background-size: cover;	  <------ 
	  background-repeat:   repeat-y;
	  background-position: center, center;
	  
}*/

.container{
	  width: 500px;
	  height: 350px;
	  text-align: center;
	  background-color: hsl(0, 100%, 30%);
	  opacity:0.99;
	  border-radius: 4px;
	  margin: 0 auto;
	  margin-top: 150px;
}

.containerFor{
	  position: relative;
	  width: 500px;
	  height: 1980px;
	  
	  text-align: centre;
	  background-color: rgba(52, 73, 94, 0.7);
	  border-radius: 4px;
	  margin: 0 auto;
	  margin-top: 50px;
}
.containerUzytkownicyAdd{
	  position: relative;
	  width: 500px;
	  height: 800px;
	  
	  text-align: centre;
	  background-color: rgba(52, 73, 94, 0.7);
	  border-radius: 4px;
	  margin: 0 auto;
	  margin-top: 50px;
}

.containerPanel{
	 
	  width: 400px;
	  height: 140px;
	  text-align: centre;
	  background-color: rgba(52, 73, 94, 0.7);
	  border-radius: 4px;
	  margin: 0 auto;
	  margin-top: 50px;
}



.padding150{
	    
	  padding-left: 150px;
	  text-align: centre; 
}
.padding50{
	    
	  padding-left: 80px;
	  text-align: centre;
}
		

.containerFor_text{
	  width: 500px;
	  text-align: left;	 
}

.container img{
	  width: 150px;
	  height: 150px;
	  margin-top: -168px;
	  margin-bottom: -325px;
	
}
.container imgstary{
	  width: 400px;
	  height: 400px;
	  margin-top: -168px;
	  margin-bottom: -130px;
	
}
.container2 img{
	  width: 400px;
	  height: 400px;
	  margin-top: -168px;
	  margin-bottom: -130px;
	
}
input[type="text"],input[type="password"],input[type="number"], input[type="email"]{
	  height: 35px;
	  width: 180px;
	  font-size: 15px;
	  border-radius: 4px;
	  border: none;
	  margin-bottom: 15px;
	  margin-top: 5px;
	  background-color: #fff;
	  padding-left: 20px;
	  
}

textarea{
	  font-size: 15px;
	  border-radius: 4px;
	  border: none;
	  margin-bottom: 15px;
	  margin-top: 5px;
	  background-color: #fff;
	  padding-left: 15px;
	    
}

tytul {
	
	
}

.font-input{
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 20px;
	  color:white;
	  
	  
}


.btn-login{
	  padding: 15px 30px;
	  color: #fff;
	  background-color: #2ecc71;
	  border: none;
	  border-radius: 4px;
	  /* border-bottom: 1px solid; 
	  border-right: 1px solid */
	  
}
a{
	  color: #fff;
	
}

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 14px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
	font-size: 15px;
	border-radius: 4px;
	width: 180px;
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.error
		{
			color:green;
			font-size: 35px;
			margin-top: 10px;
			margin-bottom: 10px;
			text-align: center;
					}

