<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>  <!-- polskie znaku -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Exchange Currency Calculator</title>
     <link rel="stylesheet" href="style.css">
    <!--  <link rel="stylesheet"   href="style.css"></link>   nakierownie na style CSS -->
</head>

<body>

<div class="containerFor">
 <br>
 <span style="color:white;  font-family: Arial, Helvetica, sans-serif;	 font-size: 40px;   padding-top:20px;">
         <center>Exchange Currency Calculator</center>

     </span>
 <div class="paddingauto">

     <form action="/">

         <div class="font-input">
             <tytul>Amount to change<br></tytul>
             <input type="number" name="amountfrom" th:value="${amountfrom}" placeholder="Input amount" min="0"
                    style="text-transform:capitalize;">
         </div>


         <div >
             <tytul class="font-input">From</tytul>
             <select name="from" id="from" style="text-transform:capitalize;" >
                 <option value="PLN">PLN</option>
                 <option value="EUR">EUR</option>
                 <option value="GBP">GBP</option>
                 <option value="USD">USD</option>
                 <option value="RUB">RUB</option>
                 <option value="JPY">JPY</option>
                 <option value="CZK">CZK</option>
             </select>

             <tytul class="font-input" > to</tytul>
             <select name="to" id="to" style="text-transform:capitalize;">
                 <option value="PLN">PLN</option>
                 <option value="EUR">EUR</option>
                 <option value="GBP">GBP</option>
                 <option value="USD">USD</option>
                 <option value="RUB">RUB</option>
                 <option value="JPY">JPY</option>
                 <option value="CZK">CZK</option>
             </select>
             <br>

             <p style=" padding-left: 20px;">
                 <input type="submit" name="submit" value="Exchange" class="btn-login"><br>
             </p>

             <div class="font-input">
                 <tytul>Amount will get<br></tytul>
                 <input type="number" name="amountto" th:value="${amountfrom}" placeholder="Input amount" min="0"
                        style="text-transform:capitalize;">
             </div>


             <div>
                 <table class="steelBlueCols">
                     <thead>
                     <tr>
                         <th>PLN to</th>
                         <th>Rate</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr>
                         <td>EUR</td>
                         <td>
                             <div th:text="${ratetoeur}"/>
                         </td>
                     </tr>
                     <tr>
                         <td>GBP</td>
                         <td>
                             <div th:text="${ratetogbp}"/>
                         </td>
                     </tr>
                     <tr>
                         <td>USD</td>
                         <td>
                             <div th:text="${ratetousd}"/>
                         </td>
                     </tr>
                     <tr>
                         <td>RUB</td>
                         <td>
                             <div th:text="${ratetorub}"/>
                         </td>
                     </tr>
                     <tr>
                         <td>JPY</td>
                         <td>
                             <div th:text="${ratetojpy}"/>
                         </td>
                     </tr>
                     <tr>
                         <td>CZK</td>
                         <td>
                             <div th:text="${ratetoczk}"/>
                         </td>
                     </tr>
                     </tbody>
                 </table>
             </div>

         </div>
     </form>


     <p style=" padding-left: 160px;">
         <a href="panel.php">
             <button class="btn warning">Powrót do panelu</button>
         </a>
     </p>
 </div>
</body>
</html>


